// main: ../../style.scss

/*  pay
------------------------------------------------------------------------------*/


/* ---------------------------------- section --> hero */

.sec--pay-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: vw-sp(800);
}

.sec--pay-hero:before,
.sec--pay-hero:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  z-index: -1;
}

.sec--pay-hero:before {
  left: vw-sp(-80);
  width: vw-sp(308);
  height: vw-sp(750);
  background-image: url(../img/bg/bg-left.png);
}

.sec--pay-hero:after {
  right: vw-sp(-80);
  width: vw-sp(330);
  height: vw-sp(726);
  background-image: url(../img/bg/bg-right.png);
}

@media screen and (min-width: $breakpoint1) {

  .sec--pay-hero {
    align-items: flex-start;
    top: vw-pc(120);
    height: vw-pc(590);
  }

  .sec--pay-hero:before {
    left: 0;
    width: vw-pc(308);
    height: vw-pc(750);
  }

  .sec--pay-hero:after {
    right: 0;
    width: vw-pc(330);
    height: vw-pc(726);
  }
}

@media screen and (min-width: $breakpoint2) {

  .sec--pay-hero {
    top: 120px;
    height: 590px;
  }

  .sec--pay-hero:before {
    width: 308px;
    height: 750px;
  }

  .sec--pay-hero:after {
    width: 330px;
    height: 726px;
  }
}

/* ---------------------------------- section --> style */

.sec--pay-style {
  padding: 0 0 vw-sp(120) 0;
  z-index: 2;
}

.sec--pay-style:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: #e9f9f2;
  z-index: -1;
}

@media screen and (min-width: $breakpoint1) {

  .sec--pay-style {
    padding: 0 0 vw-pc(115) 0;
  }
}

@media screen and (min-width: $breakpoint2) {

  .sec--pay-style {
    padding: 0 0 115px 0;
  }
}

/* ---------------------------------- section --> apply */

.sec--pay-apply {
  padding: vw-sp(100) 0 vw-sp(120) 0;
  background-image: url(../img/pay/apply-bg.jpg);
  background-size: cover;
}

@media screen and (min-width: $breakpoint1) {

  .sec--pay-apply {
    padding: vw-pc(115) 0 vw-pc(130) 0;
  }
}

@media screen and (min-width: $breakpoint2) {

  .sec--pay-apply {
    padding: 115px 0 130px 0;
  }
}


/* ---------------------------------- component --> hero */

.pay-hero-head {
  margin-bottom: 1.2em;
  font-size: vw-sp(46);
  font-weight: 700;
  text-align: center;
  line-height: 1.8em;
  letter-spacing: .2em;
}

@media screen and (min-width: $breakpoint1) {

  .pay-hero-head {
    font-size: vw-pc(36);
  }
}

@media screen and (min-width: $breakpoint2) {

  .pay-hero-head {
    font-size: 36px; font-size: 3.6rem;
  }
}

.pay-hero-desc {
  font-size: 1.125em;
  font-weight: 700;
  text-align: center;
  line-height: 1.8em;
}



/* ---------------------------------- component --> form-label */

.form-label {
  margin: vw-sp(40) 0;
  text-align: center;
  p {
    display: inline-block;
    padding: .8em 2em;
    background-color: $color-main;
    border-radius: vw-sp(45);
    color: $color-base;
    font-size: vw-sp(28);
    text-align: center;
    font-weight: 700;
    letter-spacing: .2em;
    span {
      color: #f9ff49;
    }
  }
}

@media screen and (min-width: $breakpoint1) {

  .form-label {
    margin: vw-pc(30) 0;
    p {
      padding: .9em 3em;
      border-radius: vw-pc(25);
      font-size: vw-pc(18);
    }
  }
}

@media screen and (min-width: $breakpoint2) {

  .form-label {
    margin: 30px 0;
    p {
      border-radius: 25px;
      font-size: 18px; font-size: 1.8rem;
    }
  }
}


/* ---------------------------------- component --> apply-form-box */

.apply-form-box {
  margin-bottom: vw-sp(80);
  padding: vw-sp(65) vw-sp(40) vw-sp(80) vw-sp(40);
  width: 100%;
  background-color: $color-base;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.2);
}

.apply-form-box:last-child {
  margin-bottom: 0;
}

.apply-form-head {
  margin-bottom: 2em;
  font-size: vw-sp(34);
  font-weight: 700;
  text-align: center;
  line-height: 1.6em;
  letter-spacing: .2em;
}

.apply-form-box__in {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: $breakpoint1) {

  .apply-form-box {
    margin-bottom: vw-pc(50);
    padding: vw-pc(55) vw-pc(100) vw-pc(70) vw-pc(100);
  }

  .apply-form-head {
    font-size: vw-pc(24);
  }

  .apply-form-box__in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: vw-pc(1000);
  }
}

@media screen and (min-width: $breakpoint2) {

  .apply-form-box {
    margin-bottom: 50px;
    padding: 55px 100px 70px 100px;
  }

  .apply-form-head {
    font-size: 24px; font-size: 2.4rem;
  }

  .apply-form-box__in {
    width: 1000px;
  }
}


/* ---------------------------------- component --> form-step */

.form-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto vw-sp(55) auto;
  width: vw-sp(580);
}

.form-step li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: vw-sp(130);
  height: vw-sp(130);
  background-color: #e9f9f2;
  border-radius: 50%;
  p {
    margin-top: .2em;
    color: $color-base;
    font-family: $font2;
    font-size: vw-sp(28);
    font-weight: 700;
    text-align: center;
    line-height: 1.4em;
  }
}

.form-step li.is-active {
  background-color: $color-main;
}

.form-step li:after {
  content: '・・・・・・';
  position: absolute;
  top: 50%;
  left: 103%;
  color: $color-main;
  font-family: $font1;
  font-weight: 700;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-step li:last-child:after {
  content: none;
}

@media screen and (min-width: $breakpoint1) {

  .form-step {
    margin: 0 auto vw-pc(45) auto;
    width: vw-pc(510)
  }

  .form-step li {
    width: vw-pc(100);
    height: vw-pc(100);
    p {
      font-size: vw-pc(18);
    }
  }
}

@media screen and (min-width: $breakpoint2) {

  .form-step {
    margin: 0 auto 45px auto;
    width: 510px
  }

  .form-step li {
    width: 100px;
    height: 100px;
    p {
      font-size: 18px; font-size: 1.8rem;
    }
  }
}


/* ---------------------------------- component --> step1 */

.apply-step1-top {
  margin-bottom: vw-sp(60);
  width: 100%;
}

.apply-step1-bottom {
  width: 100%;
}

.apply-step1-image {
  margin-bottom: vw-sp(40);
}

.apply-step1-desc p {
  color: #333;
  font-size: vw-sp(28);
  line-height: 1.8em;
}

.apply-step1-list > li {
  margin-bottom: vw-sp(50);
}

.apply-step1-list > li:first-child {
  margin-top: vw-sp(50);
}

.apply-step1-list > li:last-child {
  margin-bottom: 0;
}

.apply-step1-head {
  margin-bottom: 1em;
  padding-bottom: .5em;
  border-bottom: vw-sp(3) solid $color-text;
  font-size: vw-sp(30);
  font-weight: 700;
}


@media screen and (min-width: $breakpoint1) {

  .apply-step1 {
    display: flex;
    justify-content: space-between;
  }

  .apply-step1-top {
    margin-bottom: 0;
    width: vw-pc(400);
  }

  .apply-step1-bottom {
    width: vw-pc(640);
  }

  .apply-step1-image {
    margin-bottom: vw-pc(30);
  }

  .apply-step1-desc p {
    font-size: vw-pc(18);
  }

  .apply-step1-list > li {
    margin-bottom: vw-pc(40);
  }

  .apply-step1-list > li:first-child {
    margin-top: vw-pc(40);
  }

  .apply-step1-head {
    border-bottom: vw-pc(2) solid $color-text;
    font-size: vw-pc(20);
  }
}

@media screen and (min-width: $breakpoint2) {

  .apply-step1-top {
    width: 400px;
  }

  .apply-step1-bottom {
    width: 540px;
  }

  .apply-step1-image {
    margin-bottom: 30px;
  }

  .apply-step1-desc p {
    font-size: 18px; font-size: 1.8rem;
  }

  .apply-step1-list > li {
    margin-bottom: 40px;
  }

  .apply-step1-list > li:first-child {
    margin-top: 40px;
  }

  .apply-step1-head {
    border-bottom: 2px solid $color-text;
    font-size: 20px; font-size: 2.0rem;
  }
}

/* ---------------------------------- heading */

.cmn-head--style {
  margin-bottom: vw-sp(100);
}

@media screen and (min-width: $breakpoint1) {

  .cmn-head--style {
    margin-bottom: vw-pc(70);
  }
}

@media screen and (min-width: $breakpoint2) {

  .cmn-head--style {
    margin-bottom: 70px;
  }
}

/* ---------------------------------- tab */

.style-tab-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: vw-sp(330);
  height: vw-sp(80);
  background-image: -moz-linear-gradient( 180deg, rgb(70,174,247) 0%, rgb(29,213,230) 100%);
  background-image: -webkit-linear-gradient( 180deg, rgb(70,174,247) 0%, rgb(29,213,230) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(70,174,247) 0%, rgb(29,213,230) 100%);
  border-radius: vw-sp(45);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  color: $color-base;
  font-size: vw-sp(32);
  font-weight: 700;
  letter-spacing: .3em;
  order: -1;
}

.style-tab-label:after {
  content: '▼';
  margin-left: .5em;
  font-size: vw-sp(26);
}

.style-tab-content {
  margin-top: vw-sp(130);
  width: 100%;
  display: none;
  transition: .3s;
}

.style-tab-switch:checked+.style-tab-label {
  background-image: none;
  background-color: #e9f9f2;
  box-shadow: none;
  color: $color-main;
}

.style-tab-switch:checked+.style-tab-label:after {
  position: absolute;
  left: 50%;
  bottom: vw-sp(-60);
  margin-left: 0;
  color: $color-main;
  font-size: vw-sp(46);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.style-tab-switch:checked+.style-tab-label+.style-tab-content {
  display: block;
}

.style-tab-switch {
  display: none;
}

.fade{
  animation: fadeIn 1s linear;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.style-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: $breakpoint1) {

  .style-tab-label {
    width: vw-pc(580);
    height: vw-pc(70);
    border-radius: vw-pc(35);
    font-size: vw-pc(24);
  }

  .style-tab-label:after {
    margin-left: 1em;
    font-size: vw-pc(18);
  }

  .style-tab-content {
    margin-top: vw-pc(120);
  }

  .style-tab-switch:checked+.style-tab-label:after {
    bottom: vw-pc(-50);
    font-size: vw-pc(36);
  }
}

@media screen and (min-width: $breakpoint2) {

  .style-tab-label {
    width: 580px;
    height: 70px;
    border-radius: 35px;
    font-size: 24px; font-size: 2.4rem;
  }

  .style-tab-label:after {
    font-size: 18px; font-size: 1.8rem;
  }

  .style-tab-content {
    margin-top: 120px;
    width: 100%;
  }

  .style-tab-switch:checked+.style-tab-label:after {
    bottom: -50px;
    font-size: 36px; font-size: 3.6rem;
  }
}

/* ---------------------------------- component --> step1 --> apply-merit */

.apply-merit li {
  position: relative;
  margin-bottom: .3em;
  padding-left: vw-sp(60);
  color: #333;
  font-weight: 700;
  line-height: 1.8em;
}

.apply-merit li:before {
  content: '';
  position: absolute;
  top: .35em;
  left: 0;
  display: inline-block;
  width: vw-sp(31);
  height: vw-sp(31);
  background-image: url(../img/pay/maru.png);
  background-size: contain;
  background-repeat: no-repeat;
}


@media screen and (min-width: $breakpoint1) {

  .apply-merit li {
    padding-left: vw-pc(30);
  }

  .apply-merit li:before {
    width: vw-pc(21);
    height: vw-pc(21);
  }
}

@media screen and (min-width: $breakpoint2) {

  .apply-merit li {
    padding-left: 30px;
  }

  .apply-merit li:before {
    width: 21px;
    height: 21px;
  }
}



/* ---------------------------------- component --> step1 --> apply-demerit */

.apply-demerit li {
  position: relative;
  margin-bottom: .3em;
  padding-left: vw-sp(60);
  color: #333;
  font-weight: 700;
  line-height: 1.8em;
}

.apply-demerit li:before {
  content: '';
  position: absolute;
  top: .35em;
  left: 0;
  display: inline-block;
  width: vw-sp(31);
  height: vw-sp(31);
  background-image: url(../img/pay/batsu.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: $breakpoint1) {

  .apply-demerit li {
    padding-left: vw-pc(30);
  }

  .apply-demerit li:before {
    width: vw-pc(21);
    height: vw-pc(21);
  }
}

@media screen and (min-width: $breakpoint2) {

  .apply-demerit li {
    padding-left: 30px;
  }

  .apply-demerit li:before {
    width: 21px;
    height: 21px;
  }
}


/* ---------------------------------- component --> step1 --> apply-faq */

.apply-faq li {
  margin-bottom: vw-sp(35);
  padding-bottom: vw-sp(35);
  border-bottom: vw-sp(4) solid #b9c1ce;
}

.apply-faq li:last-child {
  margin-bottom: 0;
}

.apply-faq-head {
  position: relative;
  margin-bottom: vw-sp(10);
  padding: 0 0 0 vw-sp(60);
  color: $color-main;
  font-weight: 700;
  line-height: 1.8em;
}

.apply-faq-content {
  position: relative;
  padding-left: vw-sp(60);
  p {
    font-size: .875em;
    font-weight: 700;
    line-height: 1.8em;
  }
}

.apply-faq-head:before,
.apply-faq-content:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: $font2;
  font-size: vw-sp(46);
  font-weight: 700;
}

.apply-faq-head:before {
  content: 'Q';
  color: $color-main;
}


.apply-faq-content:before {
  content: 'A';
  left: .05em;
  color: #fbad7d;
}


@media screen and (min-width: $breakpoint1) {

  .apply-faq li {
    margin-bottom: vw-pc(20);
    padding-bottom: vw-pc(20);
    border-bottom: vw-pc(2) solid #b9c1ce;
  }

  .apply-faq-head {
    margin-bottom: vw-pc(10);
    padding: 0 0 0 vw-pc(30);
  }

  .apply-faq-content {
    padding-left: vw-pc(30);
  }

  .apply-faq-head:before,
  .apply-faq-content:before {
    font-size: vw-pc(24);
  }
}

@media screen and (min-width: $breakpoint2) {

  .apply-faq li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #b9c1ce;
  }

  .apply-faq-head {
    margin-bottom: 10px;
    padding: 0 0 0 30px;
  }

  .apply-faq-content {
    padding-left: 30px;
  }

  .apply-faq-head:before,
  .apply-faq-content:before {
    font-size: 24px; font-size: 2.4rem;
  }
}


/* ---------------------------------- component --> step1 --> apply-confirm */

.apply-confirm {
  margin-top: vw-sp(35);
}

.apply-confirm li {
  position: relative;
  margin-bottom: .3em;
  padding-left: vw-sp(60);
  line-height: 1.8em;
}

.apply-confirm li:before {
  content: '';
  position: absolute;
  top: .3em;
  left: 0;
  display: inline-block;
  width: vw-sp(31);
  height: vw-sp(31);
  background-image: url(../img/common/plus.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: $breakpoint1) {

  .apply-confirm {
    margin-top: vw-pc(25);
  }

  .apply-confirm li {
    padding-left: vw-pc(30);
  }

  .apply-confirm li:before {
    width: vw-pc(21);
    height: vw-pc(21);
  }
}

@media screen and (min-width: $breakpoint2) {

  .apply-confirm {
    margin-top: 25px;
  }

  .apply-confirm li {
    padding-left: 30px;
  }

  .apply-confirm li:before {
    width: 21px;
    height: 21px;
  }
}



/* ---------------------------------- component --> step1 --> apply-course */

.apply-course label {
  margin-bottom: vw-sp(20);
}

.apply-course label:last-child {
  margin-bottom: 0;
}

.apply-course span {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: vw-sp(30);
  padding: 0 vw-sp(50) 0 vw-sp(110);
  width: 100%;
  background-color: #e9f9f2;
  border-radius: .5em;
  height: vw-sp(110);
  font-size: vw-sp(28);
  font-weight: 700;
  cursor: pointer;
}

.apply-course input[type="radio"]:checked + span {
  background-color: $color-main;
  color: $color-base;
}

.apply-course input[type="radio"] {
  display: none;
}

.apply-course input[type="radio"] + span::before {
  position: absolute;
  content: '';
  top: 50%;
  left: vw-sp(30);
  display: block;
  width: vw-sp(50);
  height: vw-sp(50);
  background-color: $color-base;
  border-radius: 50%;
  transform: translateY(-50%);
}

.apply-course input[type="radio"]:checked + span::after {
  position: absolute;
  content: '';
  top: 50%;
  left: vw-sp(30);
  transform: translateY(-50%);
  background-color: $color-text;
  border-radius: 50%;
  width: vw-sp(30);
  height: vw-sp(30);
  border: vw-sp(10) solid $color-base;
  display: block;
}

@media screen and (min-width: $breakpoint1) {

  .apply-course label {
    margin-bottom: vw-pc(10);
  }

  .apply-course span {
    margin-bottom: vw-pc(20);
    padding: 0 vw-pc(50) 0 vw-pc(75);
    height: vw-pc(80);
    border-radius: .5em;
    font-size: vw-pc(18);
  }

  .apply-course input[type="radio"] + span::before {
    left: vw-pc(20);
    width: vw-pc(40);
    height: vw-pc(40);
  }

  .apply-course input[type="radio"]:checked + span::after {
    left: vw-pc(20);
    width: vw-pc(20);
    height: vw-pc(20);
    border: vw-pc(10) solid $color-base;
  }
}

@media screen and (min-width: $breakpoint2) {

  .apply-course label {
    margin-bottom: 10px;
  }

  .apply-course span {
    margin-bottom: 20px;
    padding: 0 50px 0 75px;
    height: 80px;
    font-size: 18px; font-size: 1.8rem;
  }

  .apply-course input[type="radio"] + span::before {
    left: 20px;
    width: 40px;
    height: 40px;
  }

  .apply-course input[type="radio"]:checked + span::after {
    left: 20px;
    width: 20px;
    height: 20px;
    border: 10px solid $color-base;
  }
}



/* ---------------------------------- component --> step2 --> pay-input */

.pay-input {
  margin-bottom: vw-sp(50);
}

.pay-input dt {
  display: block;
  width: 100%;
  margin-bottom: .7em;
  font-weight: 700;
}

.pay-input dd {
  display: block;
  width: 100%;
}

.pay-input input[type="text"], .pay-input input[type="email"], .pay-input input[type="tel"] {
  padding: 1em 1em;
  background-color: #f8f8f8;
  border: 1px solid $color-main;
  border-radius: .5em;
  width: 100%;
  max-width: 100%;
  color: $color-text;
  font-family: $font1;
  font-size: vw-sp(25);
  font-weight: 700;
  letter-spacing: .1em;
}

@media screen and (min-width: $breakpoint1) {

  .pay-input {
    margin-bottom: vw-pc(40);
    width: vw-pc(485);
  }

  .pay-input input[type="text"], .pay-input input[type="email"], .pay-input input[type="tel"] {
    font-size: vw-pc(15);
  }
}

@media screen and (min-width: $breakpoint2) {

  .pay-input {
    margin-bottom: 40px;
    width: 485px;
  }

  .pay-input input[type="text"], .pay-input input[type="email"], .pay-input input[type="tel"] {
    font-size: 15px;
  }
}


/* ---------------------------------- component --> step2 --> pay-input */


.apply-step2-desc {
  padding-top: 1.5em;
  padding-left: 1em;
  text-indent: -1em;
  font-size: .81em;
  line-height: 1.6em;
}

.apply-step2-desc:before {
  content: '※';
}

@media screen and (min-width: $breakpoint1) {

  .apply-step2-desc {
    text-align: center;
  }
}




/* ---------------------------------- component --> form-consent */

.form-consent {
  margin: vw-sp(50) 0 vw-sp(60) 0;
  font-size: vw-sp(26);
  font-weight: 700;
  text-align: center;
}

.apply-step3-bottom .form-consent {
  text-align: left;
}

.apply-step3-bottom .form-consent > div {
  margin-bottom: 1.2em;
}

.apply-form input[type="checkbox"] {
  display: none;
}

.apply-form input[type="checkbox"] + span {
  position: relative;
  display: inline-block;
  padding: 0 0 0 2em;
  cursor: pointer;
}

.apply-form input[type="checkbox"] + span::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  display: block;
  width: 1.3em;
  height: 1.3em;
  background-color: #f8f8f8;
  border: 1px solid $color-main;
  border-radius: 0;
  transform: translateY(-50%);
}

.apply-form input[type="checkbox"]:checked + span::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  display: block;
  width: 1.3em;
  height: .6em;
  margin-top: -.2em;
  border-left: vw-sp(5) solid $color-main;
  border-bottom: vw-sp(5) solid $color-main;
  transform: translateY(-50%) rotate(-45deg);
}


@media screen and (min-width: $breakpoint1) {

  .form-consent {
    margin: vw-pc(30) 0 vw-pc(40) 0;
    font-size: vw-pc(16);
  }

  .apply-form input[type="checkbox"]:checked + span::after {
    border-left: vw-pc(3) solid $color-main;
    border-bottom: vw-pc(3) solid $color-main;
  }
}

@media screen and (min-width: $breakpoint2) {

  .form-consent {
    margin: 30px 0 40px 0;
    font-size: 16px; font-size: 1.6rem;
  }

  .apply-form input[type="checkbox"]:checked + span::after {
    border-left: 3px solid $color-main;
    border-bottom: 3px solid $color-main;
  }
}

/* ---------------------------------- component --> step3 */


.apply-step3 {
  margin-bottom: vw-sp(120);
}

.apply-step3-top {
  margin-bottom: vw-sp(60);
  width: 100%;
}

.apply-step3-bottom {
  width: 100%;
}


@media screen and (min-width: $breakpoint1) {

  .apply-step3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: vw-pc(60);
  }

  .apply-step3-top {
    margin-bottom: 0;
    width: vw-pc(485);
  }

  .apply-step3-bottom {
    width: vw-pc(570);
  }
}

@media screen and (min-width: $breakpoint2) {

  .apply-step3 {
    margin-bottom: 60px;
  }

  .apply-step3-top {
    width: 485px;
  }

  .apply-step3-bottom {
    width: 470px;
  }
}

.apply-step3-head {
  margin-bottom: .7em;
  font-weight: 700;
}

.apply-step3-detail {
  padding: vw-sp(35) vw-sp(30);
  background-color: #f8f8f8;
  border-radius: vw-sp(15);
}

.apply-step3-detail-head {
  margin-bottom: .5em;
  font-size: vw-sp(30);
  font-weight: 700;
  line-height: 1.5em;
}

.apply-step3-prices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.2em;
  dt {
    display: flex;
    align-items: center;
    width: vw-sp(220);
    font-size: .81em;
    font-weight: 700;
    line-height: 1.6em;
    span:after {
      content: '：';
    }
  }
  dd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - #{vw-sp(220)});
    font-family: $font2;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.6em;
  }
}

.apply-step3-detail-content {
  padding-top: 1.5em;
  border-top: vw-sp(3) solid $color-text;
}

.apply-step3-detail-content p {
  margin-bottom: 1.5em;
  font-size: .81em;
  line-height: 1.8em;
  a {
    display: inline-block;
    padding-bottom: .3em;
    border-bottom: 1px solid $color-text;
  }
  a:hover {
    opacity: .7;
  }
}

.apply-step3-detail-content p:last-child {
  margin-bottom: 0;
}

.apply-step3-bottom > div {
  margin-bottom: vw-sp(50);
}

.apply-step3-bottom > div:last-child {
  margin-bottom: 0;
}

.pay-apply-type {
  display: flex;
  justify-content: space-between;
  > div {
    width: vw-sp(300);
  }
}

@media screen and (min-width: $breakpoint1) {

  .apply-step3-detail {
    padding: vw-pc(25) vw-pc(30);
    border-radius: vw-pc(10);
  }

  .apply-step3-detail-head {
    font-size: vw-pc(20);
  }

  .apply-step3-prices {
    dt {
      width: 50%;
    }
    dd {
      width: 50%;
    }
  }

  .apply-step3-detail-content {
    border-top: vw-pc(2) solid $color-text;
  }

  .apply-step3-bottom > div {
    margin-bottom: vw-pc(40);
  }

  .pay-apply-type {
    > div {
      width: vw-pc(275);
    }
  }
}

@media screen and (min-width: $breakpoint2) {

  .apply-step3-detail {
    padding: 25px 30px;
    border-radius: 10px;
  }

  .apply-step3-detail-head {
    font-size: 20px; font-size: 2.0rem;
  }

  .apply-step3-detail-content {
    border-top: 2px solid $color-text;
  }

  .apply-step3-bottom > div {
    margin-bottom: 40px;
  }

  .pay-apply-type {
    > div {
      width: 225px;
    }
  }
}


.pay-apply-type label {
  margin-bottom: vw-sp(20);
}

.pay-apply-type label:last-child {
  margin-bottom: 0;
}

.pay-apply-type span {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 vw-sp(50) 0 vw-sp(110);
  width: 100%;
  background-color: #e9f9f2;
  border-radius: .5em;
  height: vw-sp(90);
  font-size: vw-sp(28);
  font-weight: 700;
  cursor: pointer;
}

.pay-apply-type input[type="radio"]:checked + span {
  background-color: $color-main;
  color: $color-base;
}

.pay-apply-type input[type="radio"] {
  display: none;
}

.pay-apply-type input[type="radio"] + span::before {
  position: absolute;
  content: '';
  top: 50%;
  left: vw-sp(30);
  display: block;
  width: vw-sp(50);
  height: vw-sp(50);
  background-color: $color-base;
  border-radius: 50%;
  transform: translateY(-50%);
}

.pay-apply-type input[type="radio"]:checked + span::after {
  position: absolute;
  content: '';
  top: 50%;
  left: vw-sp(30);
  transform: translateY(-50%);
  background-color: $color-text;
  border-radius: 50%;
  width: vw-sp(30);
  height: vw-sp(30);
  border: vw-sp(10) solid $color-base;
  display: block;
}

@media screen and (min-width: $breakpoint1) {

  .pay-apply-type label {
    margin-bottom: vw-pc(10);
  }

  .pay-apply-type span {
    padding: 0 vw-pc(50) 0 vw-pc(75);
    height: vw-pc(60);
    border-radius: .5em;
    font-size: vw-pc(18);
  }

  .pay-apply-type input[type="radio"] + span::before {
    left: vw-pc(20);
    width: vw-pc(32);
    height: vw-pc(32);
  }

  .pay-apply-type input[type="radio"]:checked + span::after {
    left: vw-pc(20);
    width: vw-pc(16);
    height: vw-pc(16);
    border: vw-pc(8) solid $color-base;
  }
}

@media screen and (min-width: $breakpoint2) {

  .pay-apply-type label {
    margin-bottom: 10px;
  }

  .pay-apply-type span {
    padding: 0 50px 0 75px;
    height: 60px;
    font-size: 18px; font-size: 1.8rem;
  }

  .pay-apply-type input[type="radio"] + span::before {
    left: 20px;
    width: 32px;
    height: 32px;
  }

  .pay-apply-type input[type="radio"]:checked + span::after {
    left: 20px;
    width: 16px;
    height: 16px;
    border: 8px solid $color-base;
  }
}

/* ---------------------------------- component --> pay-flow */

.pay-flow {
  width: 100%;
}

.pay-flow li {
  position: relative;
  margin-bottom: vw-sp(60);
  width: 100%;
  z-index: 2;
  > p {
    position: absolute;
    font-size: vw-sp(20);
    line-height: 1.8em;
  }
}

.pay-flow-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: vw-sp(240);
  height: vw-sp(240);
  background-color: #f8f8f8;
  border-radius: 50%;
  text-align: center;
  z-index: 2;
}

.pay-flow-num {
  display: inline-block;
  margin-bottom: .8em;
  font-family: $font2;
  font-size: vw-sp(28);
  font-weight: 700;
  text-align: center;
  @include marker;
}

.pay-flow-head {
  font-size: vw-sp(22);
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: $breakpoint1-max) {

  .pay-flow li:after {
    content: '';
    position: absolute;
    top: vw-sp(115);
    left: vw-sp(120);
    width: vw-sp(20);
    height: 80%;
    background-color: #f8f8f8;
    transform: translateX(-50%);
    z-index: -1;
  }

  .pay-flow li:last-child::after {
    content: none;
  }

  .pay-flow li {
    > p {
      top: 50%;
      left: vw-sp(260);
      transform: translateY(-50%);
      white-space: nowrap;
    }
  }

}

@media screen and (min-width: $breakpoint1) {

  .pay-flow {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: vw-pc(835);
  }

  .pay-flow li {
    margin-bottom: 0;
    padding-bottom: vw-pc(55);
    width: vw-pc(190);
    > p {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-top: 1em;
      font-size: vw-pc(13);
      text-align: center;
      transform: translateX(-50%);
      white-space: nowrap;
    }
  }

  .pay-flow:after {
    content: '';
    position: absolute;
    top: vw-pc(85);
    left: 50%;
    width: 90%;
    height: vw-pc(10);
    background-color: #f8f8f8;
    transform: translateX(-50%);
  }

  .pay-flow-circle {
    width: vw-pc(190);
    height: vw-pc(190);
  }

  .pay-flow-num {
    font-size: vw-pc(18);
  }

  .pay-flow-head {
    font-size: vw-pc(16);
  }
}

@media screen and (min-width: $breakpoint2) {

  .pay-flow {
    width: 735px;
  }

  .pay-flow li {
    padding-bottom: 55px;
    width: 180px;
    > p {
      font-size: 13px; font-size: 1.3rem;
    }
  }

  .pay-flow:after {
    top: 85px;
    height: 10px;
  }

  .pay-flow-circle {
    width: 180px;
    height: 180px;
  }

  .pay-flow-num {
    font-size: 18px; font-size: 1.8rem;
  }

  .pay-flow-head {
    font-size: 16px; font-size: 1.6rem;
  }
}

/* ---------------------------------- component --> apply-form-btn */

.apply-form-btn {
  margin: 0 auto;
  width: vw-sp(500);
  .cmn-btn {
    border: none !important;
  }
}

.form-submit-btn {
  display: block;
  width: 100%;
  height: 100%;
  color: $color-base;
  font-size: vw-sp(26);
  font-weight: 700;
  letter-spacing: .1em;
}

.form-submit-btn:hover {
  color: #ff9f01;
}

@media screen and (min-width: $breakpoint1) {

  .apply-form-btn {
    margin-top: vw-pc(50);
    width: vw-pc(480);
  }

  .form-submit-btn {
    font-size: vw-pc(16);
  }
}

@media screen and (min-width: $breakpoint2) {

  .apply-form-btn {
    margin-top: 50px;
    width: 480px;
  }

  .form-submit-btn {
    font-size: 16px; font-size: 1.6rem;
  }
}
